body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2A353F;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
    color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#body{
    border: 2px solid #f5f5f5;
    border-radius: 20px;
    width: 24rem;
    min-height: 31.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 5px 4px #100c08;
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: right;
    border-radius: 15px 15px 0px 0px;
    flex-grow: 1;
    background-color: #1D1D1D;
    max-width: 100%;
}

#currentOperation{
    margin: 10px 18px ;
    font-size: 2.3rem;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-all;
}



#previousOperation{
    margin: 6px 26px 0px 0px;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-all;
}

button{
    width: 5.5rem;
    height: 5rem;
    flex-grow: 1;
    font-size: 2rem;
    border: 1px solid rgb(24, 23, 23)
}

#btnBox{
    display: flex;
    flex-wrap: wrap;
}


#delete, #percent, #ac{
    background-color: #3d3d3d;
}

#delete:active,
#percent:active,
#ac:active{
    background-color: #666666;
}


#zero{
    width: 11.4rem;
    border-radius: 0px 0px 0px 20px;
}

#equal{
    border-radius: 0px 0px 20px 0px;
    background-color: #ef9126;
}

[data-number], #decimal{
    background-color: #666666;
}

[data-number]:active,
#decimal:active{
    background-color: #9e9c9c
}

[data-operator]{
    background-color: #ef9126;
}

[data-operator]:active,
#equal:active{
    background-color: #d57e1b;
}

footer{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(15, 15, 103);
}